<!-- <section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{site.baseurl}}/" class="btn">Home</a>
  <a href="{{site.baseurl}}/callforpaper" class="btn">CFP</a>
  <a href="{{site.baseurl}}/sharedtasks" class="btn">Shared Tasks</a>
  <a href="{{site.baseurl}}/organizers" class="btn">Organizers</a>
  <a href="{{site.baseurl}}/sponsors" class="btn">Sponsors</a>
  <a href="{{site.baseurl}}/contact" class="btn">Contact</a>

</section> -->

<nav id="navbarID" class="navbar sticky-top navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/favicon.ico" alt="logo" width="6%" height="6%"><b>BLP Workshop @ EMNLP 2023</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}/" id="home"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ site.baseurl }}/callforpaper"><b>CFP</b></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ site.baseurl }}/sharedtasks"><b>Shared Tasks</b></a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/sharedtasks" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <b>Shared Tasks</b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ site.baseurl }}/sharedtasks/task1">Task 1</a></li>
            <li><a class="dropdown-item" href="{{ site.baseurl }}/sharedtasks/task2">Task 2</a></li>
          </ul>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ site.baseurl }}/sharedtasks"><b>Shared Tasks</b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/sharedtasks23/task1">Task 1</a></li>
            <li><a href="{{ site.baseurl }}/sharedtasks23/task2">Task 2</a></li>
            <li><a href="{{ site.baseurl }}/sharedtasks23/task3">Task 3</a></li>
            <li><a href="{{ site.baseurl }}/sharedtasks23/task4">Task 4</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ site.baseurl }}/organizers"><b>Organizers</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ site.baseurl }}/contact"><b>Contact</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<img src="{{site.baseurl}}/images/crop_red_v1.svg" alt="banner" width="auto" height="auto">
<!-- <img src="/images/RED_MAIN_v1.svg" alt="banner" width="auto" height="auto"> -->

<!-- <section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{site.baseurl}}/" class="btn">Home</a>
  <a href="{{site.baseurl}}/callforpaper" class="btn">CFP</a>

  <div class="dropdown">
    <a href="{{site.baseurl}}/sharedtasks" class="btn">Shared Tasks</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/sharedtasks23/task1">Task 1</a>
      <a href="{{site.baseurl}}/sharedtasks23/task2">Task 2</a>
      <a href="{{site.baseurl}}/sharedtasks23/task3">Task 3</a>
      <a href="{{site.baseurl}}/sharedtasks23/task4">Task 4</a>
    </div>
  </div>

  <a href="{{site.baseurl}}/organizers" class="btn">Organizers</a>
  <a href="{{site.baseurl}}/sponsors" class="btn">Sponsors</a>
  <a href="{{site.baseurl}}/contact" class="btn">Contact</a>

</section>
 -->

<!-- <div class="banner">
  <img src="{{site.baseurl}}/images/crop_red_v1.svg" alt="Your Banner Description">
</div> -->
