<!DOCTYPE html>
<html lang="{{ site.locale }}">

  {% include head.html %}

  <body>
    {% include page-header.html %}

    {% capture nowdate %}{{'now' | date: '%s' | minus: 86400 }}{% endcapture %}
      {% capture trialdata %}{{'July 15 2022' | date: '%s'}}{% endcapture %}
      {% capture trainingdata %}{{'September 30 2022' | date: '%s'}}{% endcapture %}
      {% capture evalstart %}{{'January 25 2023' | date: '%s'}}{% endcapture %}
      {% capture evalend %}{{'February 1 2023' | date: '%s'}}{% endcapture %}
      {% capture postresult %}{{'February 5 2023' | date: '%s'}}{% endcapture %}
      {% capture papersubsys %}{{'February 28 2023' | date: '%s'}}{% endcapture %}
      {% capture papersubtask %}{{'September 1 2023' | date: '%s'}}{% endcapture %}
      {% capture notif %}{{'September 29 2023' | date: '%s'}}{% endcapture %}
      {% capture cam %}{{'October 6 2023' | date: '%s'}}{% endcapture %}


    <section class="main-content">
      <div id="side-table-wrapper" style="float:right; width:310px; font-size: small">

          <h4 id="side-table-header">Recent Updates</h4><br>
          <div style="background-color: beige">
          <ul>
              <li>Jul 22, 2023: <a href="/mentoring">Pre-submission Mentoring</a> is launched.</li>
              <li>Jul 15, 2023: <a href="/sharedtasks">Two Shared Tasks</a> are announced.</li>
              <li>May 12, 2023: <a href="/cfp">First Call for Papers</a> is announced.</li>
              <li>May 1, 2023: Join the <a href="/cfp">Slack</a> workgroup for communication.</li>
          </ul>
              </div>

        <h4 id="side-table-header">Important Dates</h4>
        <table id="important-dates" class="table table-condensed">
          <tbody>

            <tr><td>Paper submission due</td>
              <td>
                {% if papersubtask < nowdate %} <strike> <font color="grey">{% endif %}
                {% assign datediff = papersubtask | minus: nowdate | divided_by: 60 | divided_by: 60 | divided_by: 24 %}
                {% if datediff < 30  and datediff > -1 %} <font color="red"> {% endif %}
                {{ papersubtask | date: "%b %-d (%a), %Y" }}
              </td>
            </tr>

            <tr><td>Notification of acceptance</td>
              <td>
                {% if notif < nowdate %} <strike> <font color="grey">{% endif %}
                {% assign datediff = notif | minus: nowdate | divided_by: 60 | divided_by: 60 | divided_by: 24 %}
                {% if datediff < 30  and datediff > -1 %} <font color="red"> {% endif %}
                {{ notif | date: "%b %-d (%a), %Y" }}
              </td>
            </tr>

            <tr><td>Camera-ready due</td>
              <td>
                {% if nowdate < nowdate %} <strike> <font color="grey">{% endif %}
                {% assign datediff = cam | minus: nowdate | divided_by: 60 | divided_by: 60 | divided_by: 24 %}
                {% if datediff < 13  and datediff > -1 %} <font color="red"> {% endif %}
                {{ cam | date: "%b %-d (%a), %Y" }}

              </td>
            </tr>
            <tr><td>Workshop</td>
              <td>7 December 2023 co-located with <a href="https://2023.emnlp.org/" target="_blank">EMNLP</a></td>
            </tr>
            
            <tr>
               <p align="center"><small>* These dates are approximate date based on EMNLP 2023 and are subject to changes.</small></p> 
              <p align="center"><small>* <em>All deadlines are calculated at 11:59 pm <br> UTC-12 hours</em></small></p>
            </tr>
          </tbody>
                  </table>
          </font><br>


      </div>
      <!-- ===================================== -->
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>
