<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    {% capture nowdate %}{{'now' | date: '%s' | minus: 86400 }}{% endcapture %}
      {% capture trialdata %}{{'July 31 2021' | date: '%s'}}{% endcapture %}
      {% capture trainingdata %}{{'September 3 2021' | date: '%s'}}{% endcapture %}
<!--      {% capture testdata %}{{'December 3 2021' | date: '%s'}}{% endcapture %}-->
      {% capture evalstart %}{{'January 24 2022' | date: '%s'}}{% endcapture %}
      {% capture evalend %}{{'January 30 2022' | date: '%s'}}{% endcapture %}
      {% capture postresult %}{{'March 18 2020' | date: '%s'}}{% endcapture %}
      {% capture papersubsys %}{{'February 23 2022' | date: '%s'}}{% endcapture %}
      {% capture papersubtask %}{{'May 8 2020' | date: '%s'}}{% endcapture %}
      {% capture notif %}{{'March 31 2022' | date: '%s'}}{% endcapture %}
      {% capture cam %}{{'TBD' | date: '%s'}}{% endcapture %}


    <section class="main-content">
      
      <!-- ===================================== -->
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>
